button
{
    background-color:blue;
    color:black; 
    border-radius: 6px;
    

}
#add,#back
{
    position: relative;
    top: -21px;
    left:80px;
    margin-right: 4px;

}

#logout
{
    
    float: right;
}
  
body{
    background-color:pink;
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color :blue;
    text-align: left;
}



