input
{
    background-color:blue;  
    color: rgb(3, 1, 1); 
    border-radius: 6px;

}
  
body{
    background-color: pink;
}
#logout
{
    background-color:blue;  
    float: right;
    color: black; 
}


h2{
    color :black;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
  }
  
  table, th,td {
   color: white;
  }
  
  table thead tr td {
   color:purple;
  }

