h2 {
    text-align: center;
    }

    body
    {
	    margin:0px;
	    background-color:blue;
	    color:#060a01;
	    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
   
    
    #main table{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    /* css code for textbox */
    #main .tb{height:28px; width:230px; border:1px solid #0a0604; color:#0c0a08; font-weight:bold; border-left:5px solid #f7f7f7; opacity:0.9;}
    
    #main .tb:focus{height:28px; border:1px solid #080706; outline:none; border-left:5px solid #f7f7f7;}

    /* css code for button*/
    #main .btn{width:150px; height:32px; outline:none;  color:#f7f7f7; font-weight:bold; border:0px solid #141312; 
    text-shadow: 0px 0.5px 0.5px #fff; border-radius: 2px; font-weight: 600; color: #0e0d0c; letter-spacing: 1px; 
    font-size:14px; background-color:#f1f1f1; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
  
    #main .btn:hover{background-color:#0f0d0c; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
    -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; }