button
{
    background-color:blue;
    color: black; 
    border-radius: 6px;
    

}
 
body{
    background-color: pink;
}



h2{
    color :black;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
  }
  
  table, th,td {
   color:white ;
  }
  
  table thead tr td {
   color:purple;
  }



