<h3 align="center">User Login </h3>
<form #loginform="ngForm">
    
<table border="1" align="center">
        <tr>
            <th>User Name : </th>
            <th><input type="text" name="txt_user" placeholder="User Name" [(ngModel)]="user_name"></th>
        </tr>
        <tr>
            <th>Password : </th>
            <th><input type="password" name="txt_password" placeholder="Password" [(ngModel)]="user_password"></th>
        </tr>
        <tr align="center">
          <th colspan="2" (click)="Login(loginform.value)"> <button>Login</button></th>
        </tr>
        
    </table>
    <h3 align=center>
        <font color="{{status_color}}">{{status_msg}}</font>
    </h3>
</form>