<h2 align="center">Account Summary</h2>
<table border="3px" style="background-color:darkcyan; width: 400px; height: 150px;" align="center">
    <tr>
        <th>Account Number</th>
        <th>{{AccountDetails.accountno}}</th>
       
    </tr>
    <tr>
        <th>Account Name</th>
        <th>{{AccountDetails.name}}</th>
    </tr>
    <tr>
        <th>Total Balance</th>
        <th>{{AccountDetails.total_accountbalance | currency:'INR':'symbol-narrow'}}</th>
    </tr>
  
</table>