<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Benificiary List</h2>
   <table border="1">
       <tr>
           <th>S.no</th>
           <th>Name</th>
           <th>Account Number</th>
           <th>IFSC Code</th>
           <th>Action</th>
       </tr>
       <tr *ngFor="let benificiary of my_benificiary_list">
            <td>{{benificiary.id}}</td>
            <td>{{benificiary.beneficiary_account}}</td>
            <td>{{benificiary.beneficiary_name}}</td>
            <td>{{benificiary.benificiary_ifsc}}</td>
            <td> <font color="blue"><b><span (click)="gotofundTransferpage(benificiary.beneficiary_account)">Fund trasfer</span></b></font> <b> | </b> <font color="red"><span (click)="Deletebenificiary(benificiary.id,benificiary.beneficiary_name)">Delete</span></font></td>
       </tr>
   </table>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2 align="center">New Benificiary</h2>
    <form #benificiaryform="ngForm">

        <table align="center" border="1">
            <tr>
                <th>Benificiary Account Number :</th>
                <th><input type="number" name="txt_benificiary_account_no" [(ngModel)]="benificiary_account_no"></th>
            </tr>
            <tr>
                <th>Benificiary Account Name :</th>
                <th><input type="text" name="txt_benificiary_account_name" [(ngModel)]="benificiary_account_name" ></th>
            </tr> 
            <tr>
                <th>Benificiary IFSC Code :</th>
                <th><input type="text" name="txt_benificiary_ifsc_code" [(ngModel)]="benificiary_ifsc_code"></th>
            </tr> 
            
            <tr style="background-color: teal;">
                <th colspan="2"><button (click)="saveBenificiary(benificiaryform.value)">Add Benificiary</button></th>
            </tr>
    
    
        </table>
    </form>
  </div>
</div>