
.box{
    width:350px;
       height:261px;
       background :rgb(120, 166, 192);
        margin:1px; 
       box-sizing: border-box;
       font-style: normal;
       font-display:rgb(88, 171, 175);
     
   
   }
   
   .circle {
     text-align:center;
     background-color:rgba(185, 83, 126, 0.7);
     width:500px;
     height:500px;
     line-height:60px;
     font-family: "forte";
     color:white;
     margin:20px auto;
     position:relative;
     }
   
   
   .header {
       background-color: #f1f1f1;
       padding: 20px;
       text-align: center;
     }
   #main{
       width:131%;
       background-color: white;        
       display: flex;
       flex-direction: row;    
       flex-flow:wrap
   }
   .container {
       display: flex;
     }
     .holder {
        flex: 1;
       margin: 1%;
       border-radius: 50%;
   
     }
   
     .holder:before {
       content: "";
       display: inline-block;
       padding-top: 100%;
   
     }
   
    
   
   
   
   
   
   
   
   
   