<h2 align="center">All Transaction Details</h2>
<table border="1" align="center">
    <tr style="background-color: cornflowerblue;">
        <th>Transaction Id</th>
        <th>From Account</th>
        <th>To Account</th>
        <th>Transfer Method</th>
        <th>Transfer Amount</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let transaction of all_transaction_info">
        <td>{{transaction.id}}</td>
        <td>{{transaction.from_account_no}}</td>
        <td>{{transaction.to_account_no}}</td>
        <td>{{transaction.transfer_type}}</td>
        <td>{{transaction.transfer_amount| currency:'INR':'symbol-narrow'}}</td>
        <td style="background-color:darkseagreen;" (click)="DeleteTransaction(transaction.id)"><font color="red"><i>&nbsp;Delete&nbsp;</i></font></td>
    </tr>
</table>