<h3 align="center">Funds Transfer</h3>

<div style="background-color: cadetblue;">
   <h4 align="center"> Total Available Balance : {{my_balance| currency:'INR':'symbol-narrow'}}</h4>
</div>
<form #accountform="ngForm">


    <table align="center" border="1">
        <tr>
            <th>From Account :</th>
            <th><input type="number" name="txt_from_account" [(ngModel)]="from_account"></th>
        </tr>
        <tr>
            <th>To Account :</th>
            <th><input type="number" name="txt_to_account" [(ngModel)]="to_account"></th>
        </tr> 
        <tr>
            <th>Amount :</th>
            <th><input type="number" name="txt_amount" [(ngModel)]="amount"></th>
        </tr>
        <tr> 
            <th>Transfer Type :</th>
            <th> <select name="ddl_transfer_type" [(ngModel)]="transfer_type">
                    <option value="IMPS">IMPS</option>
                    <option value="NEFT">NEFT</option>
                    <option value="Cheque">Cheque</option>
                </select>
            </th>
        </tr>
        <tr style="background-color: teal;">
            <th colspan="2"><button  (click)="sendamount(accountform.value)">Send</button></th>
        </tr>


    </table>
</form>