button
{
    background-color:blue;
    color: black; 
    

}
#register
{
    position: relative;
    top: -20px;
    left:60px;

}
  
body{
    background-color:purple;
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color :black;
    text-align: center;
}

