button
{
    background-color:blue;
    color: white; 
    

}
  
body{
    background-color: pink;
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color :black;
    text-align: center;
}