button
{
    background-color:blue;
    color: white; 
    

}
  
body{
    background-color: pink;
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h2{
    color:blue;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
  }
  
  table, th,td {
   color: white;
  }
  
  table thead tr td {
   color:purple;
  }


* {
    box-sizing: border-box;
}