button
{
    background-color:blue;
    color: white; 
    margin: 2px;
    

}
  
body{
    background-color:palevioletred;
}

input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

h3{
    color:blue;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
  }
  
  table, th,td {
   color: white;
  }
  
  table thead tr td {
   color:purple;
  }

  
table{
    margin: 5px;
}


* {
    box-sizing: border-box;
}
