table, th, td {
    border: 1px solid black;
  }
  
  table, th,td {
   color: white;
  }
  
  table thead tr td {
   color:purple;
  }

  body{
    background-color:pink;
}

#headingID
{
    color:blue;
    text-align:center;
 
    
}


table{
    margin: 5px;
}

button
{
    background-color:blue;
    color: white; 
    margin: 2px;
    

}

* {
    box-sizing: border-box;
}