.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    max-width: 300px;

    

    text-align: center;

    font-family: arial;

  }

  

  .price {

    color: grey;

    font-size: 22px;

  }

  

  .card button {

    border: 2px;

    outline: 0;

    padding: 1px;

    color: white;

    background-color: #000;

    text-align: center;

    cursor: pointer;

    width: 100%;

    font-size: 18px;

  }

  

  .card button:hover {

    opacity: 0.7;

  }