
    h3 {
        text-align: center;
        }
  
    .content {
      max-width: 500px;
      margin: auto;
      background: white;
      padding: 10px;
    }
    input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
      }
      
      /* Style the submit button */
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
      }
      
      /* Style the container for inputs */
      .container {
        background-color: #f1f1f1;
        padding: 20px;
      }
      
      /* The message box is shown when the user clicks on the password field */
      #message {
        display:none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
      }
      
      #message p {
        padding: 10px 35px;
        font-size: 18px;
      }
      
     
    