<body background="../assets/images/online-banking.jpg">
  <div style="background-color: lawngreen;">
    <h4 align="right"><a router-Link="/user-login" (click)="Login()">Login</a> | <span (click)="Logout()">Logout</span></h4>
  </div>
  <header style="height:150px" *ngIf="DisplaySidebar">
    <h2>E-Banking Application</h2>
  </header>
  
<section style="height: 350px;">
  <nav style="height: 350px;" *ngIf="DisplaySidebar">
    <ul>
      <li><a routerLink="/account-balance" *ngIf="DisplaySidebar"><b>Account Balance</b></a></li><br>
      <li><a routerLink="/account-summary" *ngIf="DisplaySidebar"><b>Account Summary</b></a></li><br>
      <li><a routerLink="/benificiary" *ngIf="DisplaySidebar"><b>Benificiary Details</b></a></li><br>
      <li><a routerLink="/fund-transfer" *ngIf="DisplaySidebar"><b>Fund Transfer</b></a></li><br>
      <li><a routerLink="/transaction-details" *ngIf="DisplaySidebar"><b>Transaction Details</b></a></li><br>
     
    </ul>
  </nav>

  
 
<article style="background-color: wheat; height:350px;" *ngIf="DisplaySidebar" >
  <router-outlet></router-outlet>
  </article>

  <!-- <h4 align="center">
  <img *ngIf="DisplayMainPanel" width=40% src="../assets/images/shoppingImg.jpg">
  </h4> -->
</section>

<footer style="height: 70px;" *ngIf="DisplaySidebar">
<p>@Copyright 2020</p>
</footer>

</body>
